DATABASE_URL=postgresql://user:password@localhost:5432/order_management
# NextAuth secret key
NEXTAUTH_SECRET=

# NextAuth URL
NEXTAUTH_URL=http://localhost:3000

# Optional Google Provider (for Google Sign-In)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
